<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>App Cost Calculator</title>
		{% load staticfiles %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{% static 'css/platform.css' %}">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="SHORTCUT ICON" href="/static/img/favicon.ico">		
		<script>
			function upfront(){
				var answerUpfront= document.getElementById("answerUpfront");
				var answerInapp= document.getElementById("answerInapp");
				var answerFree = document.getElementById("answerFree");
				answerFree.checked = false;
			}
			function inapp(){
				var answerUpfront= document.getElementById("answerUpfront");
				var answerInapp= document.getElementById("answerInapp");
				var answerFree = document.getElementById("answerFree");
				answerFree.checked = false;
			}
			function free(){
				var answerUpfront= document.getElementById("answerUpfront");
				var answerInapp= document.getElementById("answerInapp");
				var answerFree = document.getElementById("answerFree");
				answerInapp.checked = false;
				answerUpfront.checked = false;
			}
		</script>
		<script src="{% static 'js/button.js' %}" type="text/javascript" ></script>
	</head>
	<body>
	<div class="wrapper">
		<div class="header">
			<div class="social">
				<img src="{% static 'img/facebook.png' %}" id="facebook" class="facebook"/>
				<img src="{% static 'img/twitter.png' %}" id="twitter" class="twitter"/>
			</div>
			<div class="cost">
				<div class="total">
					{{ total }}
				</div>
			</div>
		</div>
	<form method="POST" action="/choose_payment/">{% csrf_token %}
		<br/>
		<h2>
			How will you make money off of your app, if at all?
		</h2>
		<br/>
		<div class = "check">
		<div class="check1"  onclick="ready3('answerUpfront', 'answerInapp', 'answerFree')">
			<input class = "cb" type="checkbox" id="answerUpfront" value="up front cost" name="answerUpfront" onclick="upfront()">
			<label for="answerUpfront"><img src="{% static 'img/upfront.png' %}" alt="Up front cost" class="check1 wider"></label>
			<div class = "name">Up front cost</div>
		</div>
		<div class="check2" onclick="ready3('answerUpfront', 'answerInapp', 'answerFree')">
			<input class="cb" type="checkbox" id="answerInapp" value="in-app purchases" name="answerInapp" onclick="inapp()">
			<label for="answerInapp"><img src="{% static 'img/inapp.png' %}" alt="In-app purchases" class="check2 wider"></label>
			<div class = "name">In-app purchases</div>
		</div>
		<div class="check2" onclick="ready3('answerUpfront', 'answerInapp', 'answerFree')">
			<input class="cb" type="checkbox" id="answerFree" value="free" name="answerFree" onclick="free()">
			<label for="answerFree"><img src="{% static 'img/free.png' %}" alt="Free" class="check2 wide"></label>
			<div class="name">No Monetization</div>
		</div>
		</div>
		<div class="buttons">
			<input type="image" src="{% static 'img/next-notready.png' %}" class="submit" alt="submit" id="submit" disabled />
			</form>
			<a href="{{ url }}">
				<img src="{% static 'img/previous.png' %}" class="previous" alt="previous" id="previous" />
			</a>
		</div>
		<div class="footer">
			<div class="logo"><a href="http://www.millcreeksoftware.biz/" target="_blank"><img src="{% static 'img/mill-creek-logo.png' %}" class="logo" /></a></div>
			<div class="info">
			<a href="http://www.millcreeksoftware.biz/" target="_blank">What We Do</a> / <a href="http://www.millcreeksoftware.biz/case-studies" target="_blank">Case Studies</a> / <a href="http://www.millcreeksoftware.biz/careers" target="_blank">Careers</a> / <a href="http://www.millcreeksoftware.biz/about-us" target="_blank">About</a> / <a href="http://www.millcreeksoftware.biz/contact" target="_blank">Contact</a>
			</div>
		</div>
	</div>
	</body>
</html>