{% block header %}
{% load staticfiles %}
	<div class="header">
			<div class="social">
				<a href="https://www.facebook.com/sharer/sharer.php?u=millcreeksoftware.biz" target="_blank"><img src="{% static 'img/facebook.png' %}" id="facebook" class="facebook"/></a>
				<a href="https://twitter.com/home?status=Check%20out%20Mill%20Creek%20Software!%20%0Ahttp%3A//millcreeksoftware.biz/" target="_blank"><img src="{% static 'img/twitter.png' %}" id="twitter" class="twitter"/></a>
			</div>
			<div class="cost">
				<div class="total">
					{{ total }}
				</div>
			</div>
	</div>
{% endblock %}