<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>App Cost Calculator</title>
		{% load staticfiles %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{% static 'css/platform.css' %}">
		<script src="{% static 'js/button.js' %}" type="text/javascript" ></script>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="SHORTCUT ICON" href="/static/img/favicon.ico">
	</head>
	<body>
	<div class="wrapper">
		{% include 'form/headernocost.html' %}
		<h1>How much will your app cost?</h1>
		<h5>Click "Get Started" to get a ballpark estimate of how much your app will cost to make.</h5>
		<form method="POST" action="/startpage/">{% csrf_token %}
			<input type="image" src="{% static 'img/get-started.png' %}" alt="get-started" class="getstarted">
		</form>
		<h3>[BROUGHT TO YOU BY <a href="http://www.millcreeksoftware.biz/" target="_blank">MILL CREEK SOFTWARE</a>]</h3>
		{% include 'form/footer.html' %}
	</div>
	</body>
</html>